.dashboard {
  display: flex;
  margin: auto;
  padding: 12px 150px;
}

.dashboard__left {
  flex: 2.5;
}

.dashboard__right {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .dashboard {
    padding: 12px 80px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 12px 30px;
  }

  .dashboard__right {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .dashboard {
    padding: 12px 20px;
  }
}
